img {
	width: 500px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
}

nav {
	top: 0;
	width: 100%;
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
	text-align: center;
	height: 30px;
	color: white;
	padding-top: 15px;
	position: relative;
	z-index: 6
}

nav a {
	color: white;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	font: sans-serif;
}

nav a:hover {
	color: grey;
	
}

#wrapper {
	/*border: 1px solid red;*/
	/*height: 400px;*/

}

/*#main {
	border: 1px solid blue;
	height: 465px;
}*/

#main img {
	width: 900px;
	/*margin-top: 22px;*/
	position: fixed;
	bottom: 0;
	z-index: 3
}

#maintext {
	
	background-color: rgba(1, 1, 1, 0.8);
	width: 500px;
	/*height: 200px;*/
	float: right;
	padding: 30px;
	text-align: center;
	margin-right:290px;
	color: white;
	margin-top: 50px;
	position: relative;
	z-index: 2
}

#headfont {
	font-family: Helvetica;
	text-shadow: 1px 1px  black;
}

#skewedjawns {
	border: 10px solid red;
	height: 400px; 
	/*background-color: blue;*/
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(-20deg);
    z-index: -3;
    position: relative;
    width: 100;





}