@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
   font-family: "entypo", sans-serif;
}
a { 
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.container {
   margin: 0 auto;
   padding: 20px 50px;
   background: white;
}
#bernie-social {
   left: 0;
   position: fixed;
   top: 150px;
}
#bernie-social a {
   background: #333;
   color: #fff;
   display: block;
   height: 35px;
   font: 16px "Open Sans", sans-serif;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#bernie-social a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width:120px;
}
#bernie-social a:hover span {
   left: 100%;
}
#bernie-social a[class*="facebook"],
#bernie-social a[class*="facebook"]:hover,
#bernie-social a[class*="facebook"] span { background: #3b5998; }

#bernie-social a[class*="twitter"],
#bernie-social a[class*="twitter"]:hover,
#bernie-social a[class*="twitter"] span { background: #00aced; }

#bernie-social a[class*="gplus"],
#bernie-social a[class*="gplus"]:hover,
#bernie-social a[class*="gplus"] span { background: #dd4b39; }  

#bernie-social a[class*="instagrem"],
#bernie-social a[class*="instagrem"]:hover,
#bernie-social a[class*="instagrem"] span { background: #517fa4; }

nav {
   top: 0;
   width: 100%;
   background-color: rgba(1, 1, 1, 0.8);
   color: rgba(1, 1, 1, 0.8);
   text-align: center;
   height: 30px;
   color: white;
   padding-top: 15px;
   position: relative;
   z-index: 6
}

nav a {
   color: white;
   font-size: 14px;
   padding-left: 15px;
   padding-right: 15px;
   text-decoration: none;
   font: sans-serif;
}

nav a:hover {
   color: grey;  
